{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react", "jsx-a11y", "import"],
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js"] }],
    "react/forbid-prop-types": ["error", { "forbid": ["any"] }],
    "jsx-a11y/label-has-associated-control": [
      2,
      {
        "labelComponents": ["label"],
        "labelAttributes": ["htmlFor"],
        "controlComponents": ["input"]
      }
    ],
    "jsx-a11y/label-has-for": [
      2,
      {
        "components": ["Label"],
        "required": {
          "some": ["nesting", "id"]
        },
        "allowChildren": false
      }
    ]
  }
}
